<h1>Todos</h1>

<%= link_to 'New Todo', new_todo_path, class: 'btn btn-primary' %>

<div class="todos">
  <% @todos.each do |todo| %>
    <div class="todo-item">
      <h3><%= link_to todo.title, todo_path(todo) %></h3>
      <p><%= todo.description %></p>
      <p>Status: <%= todo.completed? ? 'Completed' : 'Pending' %></p>
      <div class="actions">
        <%= link_to 'Show', todo_path(todo) %>
        <%= link_to 'Edit', edit_todo_path(todo) %>
        <%= link_to 'Delete', todo_path(todo), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>